{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-4">
        <div id="shopping-bag" class="col text-center mt-5 pt-5">
            <h1 class="section-heading text-center">Shopping Bag</h1>
        </div>
        <div class="row pt-3">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded-0" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-2">Your bag is empty.</p>
                    <a href="{% url 'shop' %}" class="back-to-shop border btn btn-lg rounded-0 text-uppercase py-3">
                        <span class="form-icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span> Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock%}