{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="hero-image">
		<div class="row h-100 text-right">
            <div class="col-11 ml-5 my-auto">
                <h2 class="display-4 logo-font">We make goods for a better future.</h2>
                <div>
                    <h4 class="my-5">
                        <a href="#" class=" shop-now-btn border btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
        </div>
	</div>
    <div id="new-arrivals" class="h-100 pt-3">
        <h1 class="section-heading text-center">New Arrivals</h1>
    </div>
    <div id="customer-feedback" class="h-100 pt-3">
        <h1 class="section-heading text-center">Customer Feedback</h1>
    </div>
{% endblock%}