/*----------------sets default margins and padding for all page content to */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* css for base.html header and footer */
.bg-black {
    background-color: #000;
}

.navlinks ul li{
    display: inline;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.icon{
    font-size: 25px;
}

.form-icon {
    font-size: 20px;
}

#navlinks{
    padding-top: 1.5rem;
}

#accountlinks{
    padding-right: 2.5rem;
}

#search-bar{
    padding: 0 1rem;
    display: none;
}

#newsletter-form{
    padding: 0 1rem;
}

#search-bar .btn,
#newsletter-form .btn{
    background-color: rgba(196, 215, 245, 0.2);
    padding: 0 3rem;
    text-decoration: none;
}

.form-control{
    border: 1px solid #000;
}

#footer-contact{
    margin-left: 3rem;
}

#footer-nav{
    font-size: 1rem;
}

/* css for home/index.html */
#hero-image{
    background: url('/media/hero-image.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.text-right{
    margin: 0;
}

.display-4,
.section-heading{
    font-weight:500;
    color: rgb(33, 40, 49);
    text-shadow: 2px 2px 3px rgb(196, 215, 245);
}

.shop-now-btn,
.form-submit {
    background-color: rgba(196, 215, 245, 0.4);
    border: rgb(196, 215, 245);
}

.shop-now-btn:hover,
.form-submit:hover {
    background-color: rgba(196, 215, 245, 0.8);
}

.section-heading{
    text-transform: uppercase;
    font-weight: 600;
}

/* css for about/about.html */
#about h1,
#contact h1 {
    padding-top: 2rem;
}

#about p{
    text-align: justify;
    padding-top: 1rem;
    color:rgb(33, 40, 49);
    font-family: Helvetica;
    font-size: 1rem;
}

/* css for contact/contact.html */
#google-location{
    height: 200px;
}

form{
    margin-left: 3rem;
    margin-right: 3rem;
}

/* css for shop/shop.html */
