/* css for base.html header and footer */
.bg-black {
    background-color: #000;
}

.navlinks ul li{
    display: inline;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.icon{
    font-size: 25px;
}

.form-icon {
    font-size: 20px;
}

#navlinks{
    padding-top: 1.5rem;
}

#accountlinks{
    padding-right: 2.5rem;
}

#search-bar{
    padding: 0 1rem;
    display: none;
}

#newsletter-form{
    padding: 0 1rem;
}

#search-bar .btn,
#newsletter-form .btn{
    background-color: rgba(196, 215, 245, 0.2);
    padding: 0 3rem;
    text-decoration: none;
}

.form-control{
    border: 1px solid #000;
}

#footer-contact{
    margin-left: 3rem;
}

#footer-nav{
    font-size: 1rem;
}


body{
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.display-4{
    font-weight:500;
    color: rgb(33, 40, 49);
    text-shadow: 2px 2px 3px rgb(196, 215, 245);
}

.shop-now-btn{
    background-color: rgba(196, 215, 245, 0.4);
    border: rgb(196, 215, 245);
}

.shop-now-btn:hover{
    background-color: rgba(196, 215, 245, 0.8);
}