{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="about" class="mt-5 pt-5">
        <h1 class="section-heading text-center">Views & Values</h1>
        <div class="ml-5 mr-5">
            <p class="pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa debitis repellat quibusdam 
            tenetur pariatur, reprehenderit possimus dolores cumque, ipsam ex deleniti ea animi. Vero animi 
            quisquam quod nisi velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis 
            ipsa debitis repellat quibusdam tenetur pariatur, reprehenderit possimus dolores cumque, ipsam 
            ex deleniti ea animi. Vero animi quisquam quod nisi velit?
            </p>
            <div class="about-img row pb-3">
                <img src="/media/about-img-1.jpg" alt="" class="col-lg-4 col-md-4 col-sm-12 img-thubnail">
                <img src="/media/about-img-4.jpg" alt="" class="col-lg-4 col-md-4 col-sm-12">
                <img src="/media/about-img-2.jpg" alt="" class="col-lg-4 col-md-4 col-sm-12">
            </div>
        </div>
    
        <h1 class="section-heading text-center">Our Story</h1>
        <div class="ml-5 mr-5">
            <p class="pb-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa debitis repellat quibusdam 
            tenetur pariatur, reprehenderit possimus dolores cumque, ipsam ex deleniti ea animi. Vero animi 
            quisquam quod nisi velit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis 
            ipsa debitis repellat quibusdam tenetur pariatur, reprehenderit possimus dolores cumque, ipsam 
            ex deleniti ea animi. Vero animi quisquam quod nisi velit?
            </p>
        </div>
    </div>
{% endblock%}